.button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background: #013b79;
  font-size: 16px;
  color: aliceblue;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}
